.main{
    display: flex;
    justify-content: flex-start;
    background-color: #2f3d46;
    gap: 45%;
    padding: 10px;
    color: aliceblue;
    
}
img{
    background-color: #2f3d46;
    border-radius: 50%;
}
.content{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 0px;
    
}
.leftside{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.leftcard{
    border-radius: 20px;
    width:200px;
    height:550px;
    background-color: #353535;
}
.rightside{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.input{
    margin-left: 80px;
}
input{
    background-color: #353535;
    width:500px;
    height:40px;
    border-radius: 10px;
}
.smallcard{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    gap:60px;
}
.cards{
    width: 200px;
    height:150px;
    background-color: #353535;
    border-radius: 20px;
}
.longcard{
    width: 725px;
    height:200px;
    background-color: #353535;
    border-radius: 20px;
    margin-top: 80px;
}
